<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Parcial 1</title>
    <link rel="stylesheet" href="/pie-pagina.css" />
</head>
<body>
    <footer class="pie-de-pagina">

        <div class="marca">
            <img src="/tutto_logo_footer.png" />
        </div>
        
        <div class="enlaces">
            
            <div class="contenedor-columnas">
                
                <div class="enlaces-1">
                    <h4>TIENDA</h4>
                    <ul>
                        <li><a href="#">Aviso de Privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </div>
                
                <div class="enlaces-2">
                    <h4>SOPORTE</h4>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">¿Cómo comprar?</a></li>
                        <li><a href="#">Políticas de cambios y devoluciones</a></li>
                    </ul>
                </div>
                <div class="enlaces-3">
                    <h4>CONTACTO</h4>
                    <ul>
                        <li><a href="#">Coyoacán, México</a></li>
                        <li><a href="#">a.ctes1@tuttobike.com</a></li>
                        <li><a href="#">factura.ctes@tuttobike.com</a></li>
                        <li><a href="#">554499735</a></li>
                        <li><a href="#">5544900551</a></li>
                    </ul>
                </div>
                <div class="enlaces-4">
                    <h4>SÍGUENOS</h4>
                </div>
            </div>

        </div>
        
        <div class="formas-pago">
            <img src="/logos_blanco_pagos.png" />
        </div>

        <div class="copyright">
            Copyright &copy; 2022 TUTTO BIKE - Designed by <span>Kubo Digital</span>
        </div>

    </footer>
</body>
</html>